body {
    margin: 10px;
  }
  .wrapper {
    position: relative;
    text-align: center;
  }
  .Top-Page {
    background-image:url("assets/Homepage.jpg");
    height: 80%;
  }
  .Mid-Page {
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
  }
  .Bottom-Page {
    background: black;
  }
  h1 {
    text-align: center;
    font-size: 14;
  }
  h2 {
    text-align: center;
    font-size: 24;
  }
  h3 {
    text-align: center;
    font-size: 18;
  }
  h4 {
    text-align: center;
    font-size: 32;
  }
  h5 {
    text-align: center;
    font-size: 48;
  }
  h6 {
    text-align: center;
    font-size: 10;
  }
  a {
    color: white;
  }
  .first-class {
    color: yellowgreen;
    margin: 0 auto;
    vertical-align: middle;
    width: 250px;
  }
  .second-class {
    color: honeydew;
  }
  .third-class {
    width: 12vw;
    float: right;
  }
  .fourth-class {
    float: center;
  }
  .fifth-class {
    float: left;
  }
  #css-photo {
    width: 25vw;
    vertical-align: middle;
  }
  .TSV {
  }